html, body {
    height: 100%;
    overflow: hidden;
}

#content {
    width: 90%;
    height: 90%;
    margin: 10px auto;
    background-color: linen;
    padding: 15px;
}

#cam0 {
    border: 1px solid #a9a6a6;
    box-shadow: #a9a6a6 2px 4px 12px 2px;
    background-color: aliceblue;
    position: relative;
    float: left;
}

#buttons {
    position: relative;
    float: left;
    margin-left: 30px;
}

.true, .active {
    color: green;
}

.false {
    color: darkred;
}

.non-active {
    color: #a9a6a6;
}

.clear-float {
    clear: both;
    height: 0;
}