html, body {
    height: 100%;
    overflow: hidden;
}

#content {
    width: 90%;
    height: 90%;
    margin: 10px auto;
    background-color: linen;
    padding: 15px;
}

#cam0 {
    border: 1px solid #a9a6a6;
    box-shadow: #a9a6a6 2px 4px 12px 2px;
    background-color: aliceblue;
    position: relative;
    float: left;
}

#buttons {
    position: relative;
    float: left;
    margin-left: 30px;
}

.true, .active {
    color: green;
}

.false {
    color: darkred;
}

.non-active {
    color: #a9a6a6;
}

.clear-float {
    clear: both;
    height: 0;
}


#joystick{
    position: absolute;
    bottom: 100px;
    right:  100px;
    border: 1px solid black;
    width: 150px;
    height: 150px;

    border-radius: 66px;
    background-color: bisque;
}

#joystick .joystick-btn{
    position: absolute;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: cornflowerblue;

    -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

#j-up{
    top:0;
    left: 50px;
}

#j-right{
    right: 0;
    top: 50px;
}

#j-down{
    bottom: 0;
    left: 50px;
}

#j-left{
    left: 0;
    top: 50px;
}